name: FD-tester-munch-builder

on:
  pull_request:
  workflow_dispatch:
    inputs:
      KERNEL_TREE_1:
        description: 'Kernel Tree 0'
        default: 'https://github.com/re-noroi/kernel_sm8250'
        required: true
        type: choice
        options:
          - 'https://github.com/re-noroi/kernel_sm8250'
          - 'private'
        
      KERNEL_TREE_BRANCH_1:
        description: 'Kernel Tree Branch 1'
        default: 'freesia'
        required: true
      CODENAME:
        description: 'Phone Codename'
        default: 'munch'
        required: true
      ANYKERNEL_URL:
        description: 'AnyKernel Url (leave blank if you dont want AnyKernel)'
        default: 'https://github.com/re-noroi/anykernel3-test'
        required: false
      CUSTOM_SED:
        description: 'Custom Kernel Version'
        default: '-perf'
        required: false
      COMPILER:
        description: 'Choose compiler'
        required: true
        type: choice
        options:
          - neutron
          - aosp
          - aosp-21
        default: aosp
      LTO_CHOICE:
        required: true
        type: choice
        options:
          - full_lto
          - thin_lto
        default: full_lto
      PATCH_SKIP:
        description: 'select yes if for stable branch'
        required: true
        type: choice
        options:
          - 'yes'
          - 'no'
        default: 'no'
      OPLUS_FEATURES:
        description: 'select yes if you want oplus features'
        required: true
        type: choice
        options:
          - 'yes'
          - 'no'
        default: 'no'

jobs:
  build:
    strategy:
      matrix:
        kernel: [1, 2, 3, 4]
    runs-on: ubuntu-latest
    env:
      UPLOAD_TO_RELEASE: false

    steps:
      - name: Install Dependencies
        run: sudo apt install flex libncurses6

      - name: Download & Extract Clang
        run: |
          wget https://dl.google.com/android/repository/android-ndk-r25c-linux.zip -O ndk.zip
          unzip -q ndk.zip -d $GITHUB_WORKSPACE/ndk
          echo "PATH=$GITHUB_WORKSPACE/ndk/android-ndk-r25c/toolchains/llvm/prebuilt/linux-x86_64/bin:$PATH" >> $GITHUB_ENV

      - name: Set Kernel Environment Variables
        run: |
          echo "KERNEL_TREE=${{ github.event.inputs.KERNEL_TREE_1 }}" >> $GITHUB_ENV
          echo "KERNEL_TREE_BRANCH=${{ github.event.inputs.KERNEL_TREE_BRANCH_1 }}" >> $GITHUB_ENV

      - name: Checkout Kernel via PAT
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: |
          if [[ "${{ github.event.inputs.KERNEL_TREE_1 }}" == "private" ]]; then
            REPO_URL="https://x-access-token:${GH_PAT}@github.com/re-noroi/FD-private.git"
          else
            REPO_URL="${{ github.event.inputs.KERNEL_TREE_1 }}"
          fi
          git clone --depth=1 --branch "${{ env.KERNEL_TREE_BRANCH }}" "${REPO_URL}" kernel_tree

      - name: Kernel Version
        run: |
          cd kernel_tree
          if [[ "${{ github.event.inputs.CUSTOM_SED }}" != "-FakeDreamer" ]]; then
            sed -i -e 's/CONFIG_LOCALVERSION="-FakeDreamer"/CONFIG_LOCALVERSION="${{ github.event.inputs.CUSTOM_SED }}"/' arch/arm64/configs/vendor/munch_defconfig
          fi

      - name: Remove cycle count
        run: |
          cd kernel_tree
          sed -i '/case POWER_SUPPLY_PROP_CYCLE_COUNT:/,/break;/c\
          \tcase POWER_SUPPLY_PROP_CYCLE_COUNT:\
          \t#ifdef CONFIG_BATT_VERIFY_BY_DS28E16\
          \t\tpval->intval = fg->maxim_cycle_count;\
          \t#else\
          \t\trc = get_cycle_count(chip->counter, &pval->intval);\
          \t#endif\
          \t\tbreak;' drivers/power/supply/qcom/qpnp-fg-gen4.c

      - name: Revert to stock gpufreq
        if: matrix.kernel == 3 || matrix.kernel == 4
        run: |
          cd kernel_tree
          patch -p1 -f < "0001-stock-gpu-freq.patch"

      - name: Change configs
        run: |
          cd kernel_tree
          sed -i -e '/CONFIG_MMC_TEST=y/c\# CONFIG_MMC_TEST is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_FUNCTION_TRACER is not set/c\CONFIG_FUNCTION_TRACER=y' arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_KPROBES is not set/c\CONFIG_KPROBES=y' arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_DEBUG_FS is not set/c\CONFIG_DEBUG_FS=y' arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_DEBUG_INFO_REDUCED is not set/c\CONFIG_DEBUG_INFO_REDUCED=y' arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_DEBUG_INFO_SPLIT is not set/c\CONFIG_DEBUG_INFO_SPLIT=y' arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_DEBUG_INFO_DWARF4 is not set/c\CONFIG_DEBUG_INFO_DWARF4=y' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_RELOCATABLE=y/c\# CONFIG_RELOCATABLE is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_STRICT_KERNEL_RWX=y/c\# CONFIG_STRICT_KERNEL_RWX is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_ARCH_HAS_ELF_RANDOMIZE=y/c\# CONFIG_ARCH_HAS_ELF_RANDOMIZE is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_ARCH_MMAP_RND_BITS=18/c\# CONFIG_ARCH_MMAP_RND_BITS is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_STACKPROTECTOR=y/c\# CONFIG_STACKPROTECTOR is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_STACKPROTECTOR_STRONG=y/c\# CONFIG_STACKPROTECTOR_STRONG is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_SECCOMP_FILTER=y/c\# CONFIG_SECCOMP_FILTER is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_RANDOMIZE_BASE=y/c\# CONFIG_RANDOMIZE_BASE is not set' arch/arm64/configs/stock_defconfig
          echo "# CONFIG_LTO_CLANG is not set" >>arch/arm64/configs/stock_defconfig
          echo "# CONFIG_LTO_CLANG_THIN is not set" >>arch/arm64/configs/stock_defconfig
          echo "# CONFIG_CFI_CLANG is not set" >>arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_MODULE_FORCE_LOAD is not set/c\CONFIG_MODULE_FORCE_LOAD=y' arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_MODULE_FORCE_UNLOAD is not set/c\CONFIG_MODULE_FORCE_UNLOAD=y' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG=y/c\# CONFIG_MODULE_SIG is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG_FORCE=y/c\# CONFIG_MODULE_SIG_FORCE is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG_ALL=y/c\# CONFIG_MODULE_SIG_ALL is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG_SHA1=y/c\# CONFIG_MODULE_SIG_SHA1 is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG_SHA224=y/c\# CONFIG_MODULE_SIG_SHA224 is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG_SHA256=y/c\# CONFIG_MODULE_SIG_SHA256 is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG_SHA384=y/c\# CONFIG_MODULE_SIG_SHA384 is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG_SHA512=y/c\# CONFIG_MODULE_SIG_SHA512 is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_MODULE_SIG_HASH="sha512"/c\# CONFIG_MODULE_SIG_HASH is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QCOM_SPMI_TEMP_ALARM=y/c\# CONFIG_QCOM_SPMI_TEMP_ALARM is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_CPU_THERMAL=y/c\# CONFIG_CPU_THERMAL is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL=y/c\# CONFIG_THERMAL is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL_EMERGENCY_POWEROFF_DELAY_MS=0/c\CONFIG_THERMAL_EMERGENCY_POWEROFF_DELAY_MS=2147483647' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL_GOV_USER_SPACE=y/c\# CONFIG_THERMAL_GOV_USER_SPACE is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL_GOV_LOW_LIMITS=y/c\# CONFIG_THERMAL_GOV_LOW_LIMITS is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL_GOV_STEP_WISE=y/c\# CONFIG_THERMAL_GOV_STEP_WISE is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y/c\# CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL_OF=y/c\# CONFIG_THERMAL_OF is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_THERMAL_LIMITS_DCVS=y/c\# CONFIG_QTI_THERMAL_LIMITS_DCVS is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_QMI_COOLING_DEVICE=y/c\# CONFIG_QTI_QMI_COOLING_DEVICE is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_CPU_ISOLATE_COOLING_DEVICE=y/c\# CONFIG_QTI_CPU_ISOLATE_COOLING_DEVICE is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QCOM_TSENS=y/c\# CONFIG_QCOM_TSENS is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_LIMITS_ISENSE_CDSP=y/c\# CONFIG_QTI_LIMITS_ISENSE_CDSP is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_BCL_SOC_DRIVER=y/c\# CONFIG_QTI_BCL_SOC_DRIVER is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_BCL_PMIC5=y/c\# CONFIG_QTI_BCL_PMIC5 is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_QMI_SENSOR=y/c\# CONFIG_QTI_QMI_SENSOR is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_VIRTUAL_SENSOR=y/c\# CONFIG_QTI_VIRTUAL_SENSOR is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_QTI_ADC_TM=y/c\# CONFIG_QTI_ADC_TM is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL_TSENS=y/c\# CONFIG_THERMAL_TSENS is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_THERMAL_HWMON=y/c\# CONFIG_THERMAL_HWMON is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/CONFIG_DEVFREQ_THERMAL=y/c\# CONFIG_DEVFREQ_THERMAL is not set' arch/arm64/configs/stock_defconfig
          sed -i -e '/# CONFIG_LTO_CLANG_THIN is not set/c\CONFIG_LTO_CLANG_THIN=y;' arch/arm64/configs/vendor/munch_defconfig
          sed -i -e '/CONFIG_LTO_CLANG_FULL=y/c\# CONFIG_LTO_CLANG_FULL is not set;' arch/arm64/configs/vendor/munch_defconfig

      - name: Apply Patches
        if: ${{ github.event.inputs.PATCH_SKIP == 'no' }}
        run: |
          cd kernel_tree
          bash nextpatch.sh

      - name: Oplus Features
        if: ${{ github.event.inputs.OPLUS_FEATURES == 'yes' }}
        run: |
          cd kernel_tree
          sed -i -e '/# CONFIG_OPLUS_PORT is not set/c\CONFIG_OPLUS_PORT=y;' arch/arm64/configs/vendor/munch_defconfig

      - name: Apply Modifications (if modified build)
        if: matrix.kernel == 2 || matrix.kernel == 4
        run: |
          cd kernel_tree
          sed -i -e '/<2553600>,/c\<2553600>;' arch/arm64/boot/dts/vendor/qcom/kona.dtsi
          sed -i -e '/<2649600>,/c\//<2649600>,' arch/arm64/boot/dts/vendor/qcom/kona.dtsi
          sed -i -e '/<2745600>,/c\//<2745600>,' arch/arm64/boot/dts/vendor/qcom/kona.dtsi
          sed -i -e '/<2841600>,/c\//<2841600>,' arch/arm64/boot/dts/vendor/qcom/kona.dtsi
          sed -i -e '/<3187200>;/c\//<3187200>;' arch/arm64/boot/dts/vendor/qcom/kona.dtsi
          sed -i -e 's/qcom,mdss-pan-physical-width-dimension = <70>;/qcom,mdss-pan-physical-width-dimension = <695>;/' arch/arm64/boot/dts/vendor/qcom/dsi-panel-l11r-38-08-0a-dsc-cmd.dtsi
          sed -i -e 's/qcom,mdss-pan-physical-height-dimension = <155>;/qcom,mdss-pan-physical-height-dimension = <1546>;/' arch/arm64/boot/dts/vendor/qcom/dsi-panel-l11r-38-08-0a-dsc-cmd.dtsi

      - name: Build Kernel
        run: |
          export PATH=$GITHUB_WORKSPACE/ndk/android-ndk-r25c/toolchains/llvm/prebuilt/linux-x86_64/bin:$PATH
          export ARCH=arm64
          export SUBARCH=ARM64
          export KBUILD_BUILD_USER="builder"
          export KBUILD_BUILD_HOST="pangu-build-component-vendor-295438-2fxw6-c8ds7-1cr82"
          export KBUILD_BUILD_TIMESTAMP="$(TZ=UTC+8 date)"
          cd kernel_tree
          make O=out vendor/munch_defconfig
          make O=out CC=clang -j$(nproc --all) CROSS_COMPILE=aarch64-linux-gnu- LLVM=1 LLVM_IAS=1
          if [[ "${{ matrix.kernel }}" == 1 ]]; then
            mv out/arch/arm64/boot/dtbo.img ../munch-aosp-dtbo.img
            mv out/arch/arm64/boot/dtb.img ../munch-normal-dtb
            cp out/arch/arm64/boot/Image.gz ../Image.gz
          elif [[ "${{ matrix.kernel }}" == 2 ]]; then
            mv out/arch/arm64/boot/dtbo.img ../munch-miui-dtbo.img
            mv out/arch/arm64/boot/dtb.img ../munch-effcpu-dtb
          elif [[ "${{ matrix.kernel }}" == 3 ]]; then
            mv out/arch/arm64/boot/dtb.img ../munch-normal-gpustk-dtb
          elif [[ "${{ matrix.kernel }}" == 4 ]]; then
            mv out/arch/arm64/boot/dtb.img ../munch-effcpu-gpustk-dtb
          fi

      - name: Upload Kernel Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kernel-1-${{ matrix.kernel }}
          path: |
            *.img
            *-dtb
            Image.gz

  package_anykernel:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download Kernel Build Original
        uses: actions/download-artifact@v4
        with:
          name: kernel-1-1
          path: kernel-1-1

      - name: Download Kernel Build Modified
        uses: actions/download-artifact@v4
        with:
          name: kernel-1-2
          path: kernel-1-2

      - name: Download Kernel Build Stock + Stock GPU
        uses: actions/download-artifact@v4
        with:
          name: kernel-1-3
          path: kernel-1-3

      - name: Download Kernel Build Effcpu + Stock GPU
        uses: actions/download-artifact@v4
        with:
          name: kernel-1-4
          path: kernel-1-4

      - name: Clone AnyKernel3
        run: git clone --recursive --depth=1 ${{ github.event.inputs.ANYKERNEL_URL }} -b munch AnyKernel3-1

      - name: Move Kernel Files to AnyKernel3
        run: |
          mv kernel-1-1/* AnyKernel3-1/
          mv kernel-1-2/* AnyKernel3-1/
          mv kernel-1-3/* AnyKernel3-1/
          mv kernel-1-4/* AnyKernel3-1/

      - name: Define ZIP Name
        run: |
          COMPILED_DATE=$(date +%Y%m%d)
          EXTRA=""
          if [[ "${{ github.event.inputs.OPLUS_FEATURES }}" == "yes" ]]; then
            EXTRA="-OPLUS"
          fi
          echo "ZIP_NAME=[FD-][TEST-${{ github.event.inputs.CODENAME }}-${COMPILED_DATE}${EXTRA}]" >> $GITHUB_ENV

      - name: Upload Flashable Kernel Zip
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ZIP_NAME }}
          path: |
            AnyKernel3-1/
            !AnyKernel3-1/.git
            !AnyKernel3-1/.github
